extends layout

block content
  h1 Welcome to Say Something Nice 
  p Sometimes we focus so much on what we need to improve we forget what makes us great. Say something nice is a way to let others share what they think makes us special and remind us where we shine. 

