extends layout

block content
	.jumbotron
		h1 Say something nice about #{user.username}! 
		form(method='post', action='/users/publicprofile/#{username}')
			.form-group
				input.form-control.full(name='comment', type='text')
			input.btn.btn-default(type='submit', value='Submit')
	



