body {
  padding: 50px;
  font-family: arial;
}

a {
  color: #00B7FF;
}

ul.success li, ul.info li, ul.error li {
	margin: 20px 0;
	padding: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	list-style: none;
}

ul.success li {
	color: #fff;
	background: lightseagreen;
}

ul.info li {
	color: #fff;
	background: skyblue;
}

ul.error li {
	color: #fff;
	background: tomato ;
}